.features {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(30px, 4vw, 57px);
    padding: clamp(80px, 8.3vw, 120px) clamp($spacing-md, 13vw, $spacing-5xl);

    margin-bottom: min(5vw, 100px);

    @media screen and (max-width: $breakpoint768) {
        margin-bottom: 50px;
    }

    &__bg-full {
        position: absolute;
        bottom: -50px;
        // width: 3732px;
        width: clamp(2700px, 194vw, 3732px);
        height: auto;
        pointer-events: none;
        z-index: -1;

        &_mobile {
            display: none;
            bottom: -50px;
        }

        @media (max-width: $breakpoint768) {
            &_desktop {
                width: 2700px;
            }
        }

        @media (max-width: $breakpoint576) {
            &_desktop {
                display: none;
            }

            &_mobile {
                display: block;
                width: 1155px;
            }
        }
    }

    &__bg {
        position: absolute;
        left: -13vw;
        top: -13vw;
        width: clamp(600px, 50vw, 1012px);
        height: auto;
        pointer-events: none;
        z-index: -1;
    }

    &__slider {
        position: relative;
        width: 100%;
        overflow: visible !important;
        z-index: 1;
    }

    &__slide {
        display: flex !important;
        align-items: center;
        gap: clamp(40px, 4vw, 80px);
        width: 100% !important;
        transition: padding 0.4s ease;

        &.swiper-slide-active {
            // padding-left: max(0px, calc((100% - 1258px) / 2));
            // padding-right: max(0px, calc((100% - 1258px) / 2));
            @media screen and (min-width: $breakpoint992) {
                .features__card {
                    margin-left: auto;
                }
                .features__text {
                    margin-right: auto;
                }
            }
        }
    }

    &__card {
        flex-shrink: 0;
        width: clamp(200px, 18.4vw, 265px);
        height: clamp(250px, 22.9vw, 330px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 clamp(20px, 2.1vw, 30px) clamp(30px, 2.8vw, 40px);
        border-radius: clamp(20px, 2.1vw, 30px);
        background: linear-gradient(to bottom, #fef8ff, $colorVibrantLilac);
        box-shadow: 0 clamp(15px, 1.7vw, 25px) clamp(15px, 1.7vw, 25px) #f1d0f9;

        .swiper-slide-next & {
            animation: wobble 2s ease-in-out infinite;
        }
    }

    &__card-icon {
        width: clamp(90px, 8.3vw, 120px);
        height: auto;
        margin: auto 0
    }

    &__card-name {
        @include subtitle;
        color: $colorDeepPurple80;
        text-align: center;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: clamp(30px, 4.2vw, 60px);
        flex: 1;
        min-width: min(100%, 500px);
        max-width: 48vw;
        opacity: 0;
        transition: opacity 0.4s ease;

        .swiper-slide-active & {
            opacity: 1;
        }
    }

    &__title {
        @include h2;
        color: $colorDeepPurple80;
    }

    &__subtitle {
        @include subtitle;
        color: $colorDeepPurple80;
    }

    &__pagination {
        position: relative;
        z-index: 1;
        display: flex;
        gap: 12px;
        justify-content: center;

        .swiper-pagination-bullet {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $colorLavender;
            opacity: 1;
            transition: all 0.3s ease;
        }

        .swiper-pagination-bullet-active {
            width: 23px;
            border-radius: 3.5px;
            background: $colorDeepPurple80;
        }
    }
}

@keyframes wobble {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
}

@media (max-width: $breakpoint992) {
    .features {
        &__slide {
            flex-direction: column;
            gap: 40px;
            align-items: center;
            transition: none;

            &.swiper-slide-active {
                padding: 0;
            }
        }

        &__text {
            display: contents;
        }

        &__title {
            order: 1;
            text-align: center;
            opacity: 0;
            transition: opacity 0.4s ease;

            .swiper-slide-active & {
                opacity: 1;
            }
        }

        &__card {
            order: 2;

            .swiper-slide-next & {
                translate: -70%;
            }
        }

        &__subtitle {
            order: 3;
            text-align: center;
            opacity: 0;
            transition: opacity 0.4s ease;

            .swiper-slide-active & {
                opacity: 1;
            }
        }
    }
}

@media (max-width: $breakpoint768) {
    .features {
        padding: 80px $spacing-md;
        gap: 40px;

        &__bg {
            width: 600px;
            left: -150px;
            top: -100px;
        }

        &__slide {
            width: 100% !important;
        }

        &__card {
            width: 200px;
            height: 250px;
            padding: 50px 20px 30px;

            .swiper-slide-next & {
                translate: -43vw;
            }
        }

        &__card-icon {
            width: 100px;
            height: auto;
        }

        &__title {
            font-size: 44px;
            line-height: 50px;
            letter-spacing: -1.76px;
        }
    }
}

@media (max-width: $breakpoint576) {
    .features {
        padding: 60px $spacing-md;

        &__bg {
            width: 400px;
            left: -100px;
            top: -80px;
        }

        &__card {
            width: 210px;
            height: 262px;
            padding: 40px 20px 25px;

            .swiper-slide-next & {
                translate: -42vw;
                scale: 0.8;
            }
        }

        &__card-icon {
            width: 100px;
            height: auto;
        }

        &__card-name {
            font-size: 20px;
        }

        &__title {
            font-size: 34px;
            line-height: 40px;
            letter-spacing: -1.36px;
        }

        &__subtitle {
            font-size: 20px;
        }
    }
}
