@font-face {
    font-family: "Literatura Present";
    font-display: swap;
    src: url("../fonts/LiteraturaPresentRegular1.00.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Literatura Past";
    font-display: swap;
    src: url("../fonts/LiteraturaPastBold1.00.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "ABC Social";
    font-display: swap;
    src: url("../fonts/ABCSocial-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ABC Social";
    font-display: swap;
    src: url("../fonts/ABCSocial-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
