/* -------- GLOBAL -------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontBody;
    color: $colorDeepPurple80;
}

*,
*::after,
*::before {
    transition: $quickTransition;
}

.container {
    max-width: calc($conteinerWidth + 4 * $containerPadding);
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(2 * $containerPadding);

}


html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $colorPinkWhite;
}

main {
    
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
}

.lock {
    overflow-y: hidden;
    overflow-x: hidden;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;

    &_visible {
        opacity: 1;
        transform: translateY(0);
    }

    &_delay {
        transition-delay: 0.2s;
    }
}